{% extends 'layout/main.html' %}

{% block tilte %}
Collection | Shop_WORLDZ
{% endblock tilte %}


{% block body %}
<section class="bg-light py-4 my-5" style="min-height:600px;">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-12">
        <h4 class="mb-3">{{name}} Products</h4>
        <hr style="border-color:#b8bfc2;">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'collection' %}">Collections</a></li>
            <li class="breadcrumb-item active">{{name}}</li>
          </ol>
        </nav>
        {% include 'layout/compantent/message.html' %}
      </div>
      <hr>
      {% if products %}

      {% for item in products %}
      <div class="col-md-4 col-lg-3 products_card mb-5">
        <div class="card my-3 p-4">
          
          <img src="{{item.image.url}}"  class="card-img-top" alt="Categories">
          
          
          <hr>

          <a href= {% url 'ProductsDetail' name item.name %} >
           
          {% comment %} <a href=  'ProductsDetail'/{{name}}/{{item.name}} > {% endcomment %}

          <div class="card-body">
            <h5 class="card-title text-primary">{{ item.name }}</h5>
            <p class="card-text">
              <span class="float-start old_price fw-bold text-danger"><s>Rs.{{ item.original_price | stringformat:'d'}}</s></span>
              <span class="btn btn-success float-end new_price fw-bold">Rs.{{ item.Selling_price | stringformat:'d' }}</span>
            </p>
          </div>
        </a>
        </div>
      </div>
      {% endfor %}
      {% else %}
        <h2 class="fw-bold"> coming soon</h2>
      {% endif %}


    
    </div>
  </div>
</section>
{% endblock body %}


{% block script %}

{% endblock script %}



{% comment %} ============================================= {% endcomment %}
