{% extends 'layout/main.html' %}

{% block tilte %}
    Login | Shop_World
{% endblock tilte %}


{% block body %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1>User Login</h1>
        </div>
        <hr style="border-color:rgb(123, 126, 129) 248, 255, 0.362)">
        {% include 'layout/compantent/message.html' %}
      </div>
    
       <section class="py-4 my-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-6">
              <form method="post">
                <div class="mb-4  ">
                  <label for="" class="form-label">Username</label>
                  <input type= "text" name ="username" id="usename" class="form-control" placeholder="Enter the username">
                </div>


                <div class="mb-4  ">
                  <label for="" class="form-label">Password</label>
                  <input type= "text" name ="Password" id="usename" class="form-control" placeholder="Enter the Password">


                </div>
               
              {% csrf_token %}
              <button type="submit" class="btn btn-primary w-100">login</button>
              </form>

              <div>
                <span>Are you new ? </span> <a href={% url 'reg' %} class="btn text-primary fw-bold">Create a new account </a>
              </div>
            </div>
  
          </div>
        </div>
    
      </section>
    
    </div>
  </div>

</div>


{% endblock body %}


{% block script %}

{% endblock script %}